.btn_apperance{
    font-size: 14px; padding: 5px 0; color: #000;
    padding-right: 1%; 
    border-style: solid; border-width: 1px; 
    padding-left: 25px; /* button image background 사이즈따라 px 유동조절, 이미지 size : 18px~20px*/
    cursor: pointer;
    transition-duration: 0.75s, 1.5s, 1.5s;
    transition-delay: 0s, 0.75s, 0.75s;
    transition-property: transform, box-shadow, border-color;
}
@media screen and (min-width: 1024px){
    body{
        background-color: rgb(211, 211, 211);
    }
    body > div ol:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    body > div .btn_sort > *,
    body > div .btn_cd > *{
        background-repeat: no-repeat;
        background-position: left 5px center;
        position: relative;
    }
    body > div .btn_sort > *{
        float: left; width: 100px;
    }
    .btn_sort .material-icons{
        font-size: 18px; position: absolute;
        left: 5px; top: 18%;
    }
    .btn_sort .btn_asc .material-icons{
        transform: rotateX(180deg);
    }
    body > div > .btn_sort > .btn_asc,
    body > div > .btn_cd > .btn_create{
        background-color: #df3838;
    }
    body > div > .btn_sort > .btn_desc,
    body > div > .btn_cd > .btn_delete{
        background-color: #fff;
    }
    body > div:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    body > div{
        width: 70%; margin: 0 auto; padding-top: 50px; margin-top: 50px;
        text-align: center;
    }
    body > div ul:after{
        content: ''; visibility: hidden; display: block; clear: both;
    }
    body > div ul li{
        list-style: none; display: block;
        float: left; box-sizing: border-box;
    }
    body > div ul:first-of-type li:first-of-type{border-radius: 10px 0 0 0;}
    body > div ul:first-of-type li:last-of-type{border-radius: 0 10px 0 0;}
    body > div ul:last-of-type  li:first-of-type{border-radius: 0 0 0 10px;}
    body > div ul:last-of-type  li:last-of-type{border-radius: 0 0 10px 0;}

    body > div ul:first-of-type li{
        text-transform: capitalize;
        padding: 20px 0px;
        background-color: #60ffdd;
        font-size: 16px; 
    }
    body > div ul:not(:first-of-type) li{
        padding: 18px 0px; font-size: 14px;
        cursor: pointer;
    }
    body > div ul:not(:first-of-type):nth-of-type(odd) li{
        background-color: #efefef;
    }
    body > div ul:not(:first-of-type):nth-of-type(even) li{
        background-color: white;
    }
    body > div ul li:first-of-type{
        width: 5%;
    }
    body > div ul li:nth-of-type(2){
        width: 65%; padding-left : 20%; padding-right: 20%;
    }
    body > div ul li:nth-of-type(3){
        width: 15%; padding-left : 5%; padding-right: 5%; 
    }
    body > div ul li:nth-of-type(2),
    body > div ul li:nth-of-type(3){
        white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    }
    body > div ul li:last-of-type{
        width: 15%;
    }

    body > div ul:not(:first-of-type):hover li{
        background-color: #e9e9e9;
    }

    body > div ul:not(:first-of-type) li:hover{
        color: #df3838; font-weight: 700;
    }
    body > div > .btn_cd{
        display: flex;
        flex-direction: row; flex-wrap: wrap;
        justify-content: flex-end;
    }
    body > div > .btn_cd > *{
       display: block; width: 70px;
    }
    body > div > .btn_cd > .btn_create{
        background-image: url('../images/baseline_create_black_18dp.png');
    }
    body > div > .btn_cd > .btn_delete{
        background-image: url('../images/baseline_delete_black_18dp.png');
    }
    body > div > .btn_sort > *:not(:first-of-type),
    body > div > .btn_cd > *:not(:first-of-type){
        margin-left: 0.5%;
    }
    .btn_apperance.btn_asc:hover,
    .btn_apperance.btn_create:hover{
        border-color: #df3838;
        box-shadow: 0 5px 20px #df3838;
    }
    .btn_apperance.btn_desc:hover,
    .btn_apperance.btn_delete:hover{
        border-color: #fff;
        box-shadow: 0 5px 20px #afafaf;
    }
    .btn_apperance[class*='btn']:hover{
        transform: scale(1.05) translate3d(2px, 2px, 20px);
    }
}